a{
    color: #000;
    text-decoration: none;
}

body{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px !important;
}

div.contenido{
    margin: 0 auto !important;
    width: 1000px !important;
}

.header{
    margin-bottom: 1em;
    overflow: hidden !important;
    padding: 1em;
    position: relative !important;
}

h1{
    font-size: 1.5em !important;
    margin-top: 1em !important; 
}

#logo{
    float: left !important;
}

.imgHeader{
    transition: 1s all ease-in-out !important;
    -webkit-transition: 1s all ease-in-out !important;
    -moz-transition: 1s all ease-in-out !important;
    width: 8em !important;
}

.imgHeader:hover{
    transform: rotate(-40deg) scale(1.1,1.1) !important;
    -moz-transform: rotate(-40deg) scale(1.1,1.1) !important;
    -webkit-transform: rotate(-40deg) scale(1.1,1.1) !important;
}

.nav{	
    margin: 1em 0.5em 0 0 !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}

.menu{
    list-style: none !important;
}

.menu li{
    display: inline-block !important;
    margin: 0 1em 0 0 !important;
}

.logout{
    font-size: 1em !important;
}

.menu li .linkHeader{
    color: #3F3F3F !important;
    display: block !important;
    font-size: 1em !important;
    margin-top: 1.2em !important;
    padding: 0 0.5em !important;
}

.menu li .linkHeader:hover{
    color: #22BCE0 !important;
}

.footer{
    background: #22BCE0 !important;
    color: rgba(255,255,255,0.7) !important;
    height: 5em !important;
    margin-top: 1em !important;
    padding: 1em !important;
    text-align: center !important;
}

.footer p:first-child{
    margin-bottom: 0 !important;
}

.footer p:last-child{
    margin-top: 0 !important;
}

.imgSlider{
    height: 30em !important;
}

.mensaje-slide{
    color: white !important;
    margin-left: 2em !important;
    margin-top: -350px !important;
    position: relative !important;
    width: 28% !important;
    z-index: 2 !important;
}

.mensaje-slide p{
    margin-bottom: 2em !important;
}

.contadorVisitas{
    background: orange !important;
    border: 1px solid white !important;
    border-radius: 50% !important;
    color: white !important;
    font-size: 1.5em;
    padding: .5em !important;
    text-decoration: none !important;
    text-align: center;
    width: 5%;
}

.buscar{
    background: orange !important;
    border: 1px solid white !important;
    border-radius: 2em !important;
    color: white !important;
    margin-right: .5em !important;
    padding: .5em 1em !important;
    text-decoration: none !important;
    transition: 0.5s all ease-in-out !important;
    -webkit-transition: 0.5s all ease-in-out !important;
    -moz-transition: 0.5s all ease-in-out !important;
}

.buscar:hover{
    background: #70B8F8 !important;
}

.buscarI{
    background: #70B8F8 !important;
    border: 1px solid white !important;
    border-radius: 2em !important;
    color: white !important;
    margin-right: .5em !important;
    padding: .5em 1em !important;
    text-decoration: none !important;
    transition: 0.5s all ease-in-out !important;
    -webkit-transition: 0.5s all ease-in-out !important;
    -moz-transition: 0.5s all ease-in-out !important;
}

.buscarI:hover{
    background: orange !important;
}

.oferta{
    margin-top: 10em !important;
    overflow: hidden !important;
    padding: 1em !important;
}

.oferta-panel>oferta-item{
    border-bottom: 3px solid #22BCE0 !important;
    float: left !important;
    margin-bottom: 0.8em !important;
    min-height: 250px !important;
    padding: 0 !important;
    width: 49% !important;
}

.oferta-item:nth-child(odd){
    margin-right: 1% !important;
}

.imagen-item, .contenedor-image{
    float: left !important;
    margin: 0 1em 0 0 !important;
    padding: 0 !important;
}

.oferta-image{
    height: 180px !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 180px !important;
}

.titulo-item{
    font-style: italic !important;
    padding: 0.5em 0.2em 0 0 !important;
}

.oferta-panel tr, .oferta-panel td {
   border: none;   
}

.oferta-panel>.ui-datagrid-content {
   border: none;
   font-family: 'Open Sans', sans-serif !important;
   font-size: 16px !important;
   margin-bottom: 0.5em;
}

.calificar>.ui-datagrid-content {
   border: none;
   font-family: 'Open Sans', sans-serif !important;
   margin-bottom: 0.5em;
}

.freelance-destacados{
    padding: 1em !important;
    text-align: center !important;
}

.freelance-item{
    display: inline-block !important;
    margin-bottom: 0.8em !important;
    min-height: 100px !important;
    padding: 0 !important;
    text-align: left !important;
    width: 33% !important;
}

.freelance-image{
    border: 2px solid orange !important;
    border-radius: 50% !important;
    margin-right: 0 !important;
    width: 70px !important;
}

.freelance-nombre{
    font-weight: normal !important;
    padding: 0 !important;
}

.freelance-descripcion{
    margin-bottom: 3em !important;
}

.Login-dialogo{
    font-size: 1em;
    font-weight: normal !important;
}

.Login-input{
    /*border-radius: 0px 15px 0px 15px;*/
    font-size: 1em !important;
    margin-bottom: 1em !important;
    margin-left: 1em !important;
    margin-top: .5em !important;	
}

.Login-input-l{
    /*border-radius: 0px 15px 0px 15px;*/
    font-size: 1em !important;
    margin-bottom: 1em !important;
    margin-left: 1em !important;
    margin-top: .5em !important;	
}

.link{
    color: blue !important;
    font-size: 1em !important;
}

.link:hover{
    text-decoration: underline;
}

.label {
    font-weight: bold !important;
    float: right !important;
    color: #000000 !important;    
}

.ui-selectmanycheckbox label, .ui-selectoneradio label {
    display: block !important;
    margin-top: 4px !important;
    padding-right: 1em !important;
    padding-left: 1em !important;
}

.ui-radiobutton .ui-radiobutton-box {
    width: 16px !important;
    height: 16px !important;
    line-height: 16px !important;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    margin-left: 0.5em !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    border: 0px none !important;
    font-size: 0.7em !important;
    margin: 1px 0 !important;
    padding: 3px 5px !important;
    text-align: left !important;
    white-space: nowrap !important;
}

.contentModules{
    border: none !important;
    margin: 0 auto !important;
    width: 1000px !important;
}

.iconoMenu {
    border: 1px solid #000;
    box-shadow: 10px 5px 14px rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px 5px 14px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 5px 14px rgba(0,0,0,0.6);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    opacity: 0.5;
    margin: 1.5em 0;
    transition: 1s all;
}

.iconoMenu:hover {
    opacity: 1;
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
}

.contentPage{
    font-size: 1em;
    margin: 0 auto !important;
    text-align: center;
    width: 1000px !important;
}

.estiloTitulo{
    font-weight: bold;
}

.ui-panel .ui-panel-title {
    margin: 0.1em 16px 0.2em 0 !important;
    font-size: 1.2em !important;
}

.styleMenu{
    margin: -2.8em auto 1em auto;
    width: 1000px !important;
}

.menuUsuario{
    margin-top: 1em;
}

.ui-menu .ui-menuitem-link {
    display: block;
    width: 92%;
    outline: none;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    border: solid 1px transparent;
    float: left;
    line-height: 16px;
    padding: 0.3em;
    cursor: pointer;
}

ul.ui-menu-child {
    overflow: visible !important;
    white-space: nowrap;
    width: auto !important;
}

.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}

.ui-layout-north {
    z-index: 30 !important;
    overflow: visible !important;
}

.panelLinkHV{
    border: 1px solid #0174DF !important;
    padding: 1em;
    margin-left: 1em;
    margin-right: 2em;
}

.panelLinkHV:hover{
    background: #F5F6CE;
}

.linkHV{    
    color: #0174DF !important;
}

.imagen {
    border: 1px dashed #000000 !important;
    margin-left: 0.8em;
    margin-bottom: 0.6em;
    max-width: 150px !important;
    max-height: 150px !important;
    vertical-align: middle !important; 
}

.imagenPerfil {
    border: 3px solid windowframe !important;
    border-radius: 50%;
    margin-left: 0.8em;
    margin-bottom: 0.6em;
    max-width: 250px !important;
    max-height: 250px !important;
    vertical-align: middle !important; 
}

.imagenPortfolio {
    border: 1px dashed #000000 !important;
    margin-left: 0.8em;
    margin-bottom: 0.6em;
    max-width: 250px !important;
    max-height: 250px !important;
    vertical-align: middle !important; 
}

.pfTagCloud { width: 500px !important;}

.fl-footer-site-stat-val {
    font-size: 18px;
    color: #464a53;
    display: inline-block;
    margin-bottom: 5px;
    letter-spacing: -1px;
}

.bienvenido{
    font-size: 1.2em;
    color: #0B2161;
    text-shadow: 2px 4px 3px #000;
}